doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap-theme.min.css')
    script(type='text/javascript', src='/javascripts/respond.js')
    script(type='text/javascript', src='/javascripts/util.js')    
    script(type='text/javascript', src='/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/underscore/underscore.js')
    script(type='text/javascript', src='/backbone/backbone.js')
    script(type='text/javascript', src='/moment/moment.js')  	
  body
    .container
      nav(class="navbar navbar-inverse" role="navigation")
        .container-fluid
          .navbar-header
            button(class="navbar-toggle")
              span.sr-only
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(class="navbar-brand" href="#") Brand
          div#bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
              li.active
                a(href="#") about
              li
                a(href="#") contact  
    block content